/* CSS file for hw 2 */
* {
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	text-color: #141414;
	background-color: #DDFFDD;
}

.twoColumnContainer {
    max-width: 100%;
    display: inline-block;
}

#col-1{
    float: left;
    position: fixed;
    padding-left: 10%;
    width: 30%;
    margin-top: 15%;
}

#col-2{
    padding-left: 15%;
    margin-left: 35%;
    padding-right: 15%;
    margin-top: 15%;
}

header{
	float: top, center;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	font-size: 40px;
	/*background-color: #FFF;*/
	border: 10px, #FFF;
	border-width: medium;
	border-style: solid;
	border-width: 50%;
}

.heading{
	font-size: 36px;
}

.footer{
	text-align: center;
	font-size: 15px;
	padding-top: 5%;
	margin-top: 25%;
}

.text{
	font-style: italic;
	font-size: 16px;
	padding-right: 20%;
}

.text .p1{
	font-style: underline;
	font-size: 20px;
	margin-top: 20%;
	text-align: right;
}

.text .p2{
	font-style: bold;
	font-size: 18px;
	margin-top: 20%;
	text-align: right;
}

.newDocImg img{
	padding-top: 20%;
	height: 650px;
	width: 350px;
}

a:link{
	font-size: 20px;
	color: #0B3B0B;
	position: relative;
}

a:active{
	font-size: 18px;
	position: relative;
}

a:hover{
	font-size: 20px;
	position: relative;
}

a:visited{
	font-size: 18px;
	color: #999966;
	position: relative;
}

iframe{
	margin-left: 50%;
	float: right;
}

.contact1{
	float: center;
}

.contact2{
	float: center;
}

.button1{
	position: static;
	height: 50px;
	width: 100px;
	background-color: #FFF;
	margin-left: 10%;
	margin-right: 65%;
}

#avatar{
	float: right;
	height: 100px;
	width: 100px;
}

input{
	background-color: #FFF;
	font:12px arial;
}

.subHeading{
	font-size: 24px;
}

.butt{
	float: right;
	margin-left: 80%;
	height: 40px;
	width: 75px;
	background-color: #FFF;
}

nav{
	text-align: center;
	max-width: 100%;
	padding-left: 8%;
	position: static;
	display: inherit;
}
form, p, span {
    margin:0;
    padding:0; 
}
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; 
    position: fixed;
}
  
#loginform { padding-top:18px; }
  
#loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; 
    position: fixed;
    padding: 10px;
}
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }