/* CSS file for hw 2 */
* {
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	text-color: #141414;
	background-color: #DDFFDD;
}

.twoColumnContainer {
    max-width: 100%;
    display: inline-block;
}

#col-1{
    float: left;
    position: fixed;
    padding-left: 10%;
    width: 30%;
    margin-top: 15%;
}

#col-2{
    padding-left: 15%;
    margin-left: 35%;
    padding-right: 15%;
    margin-top: 15%;
}

header{
	float: top;
	text-align: center;
	font-size: 40px;
	/*background-color: #FFF;*/
}

.heading{
	font-size: 36px;
}

.footer{
	text-align: left;
	padding-left: 10%;
	padding-top: 15%;
	font-size: 15px;
}

.text{
	font-style: italic;
	font-size: 16px;
	padding-right: 11%;
}

.text .p1{
	font-style: underline;
	font-size: 20px;
	margin-top: 20%;
	text-align: right;
}

.text .p2{
	font-style: bold;
	font-size: 18px;
	margin-top: 20%;
	text-align: right;
}

.newDocImg img{
	padding-top: 20%;
	height: 650px;
	width: 350px;
}

a:link{
	font-size: 20px;
	color: #0B3B0B;
	position: relative;
	margin-bottom: 75%;
	padding-bottom: 90%;
	max-height: 100px;
}

a:active{
	font-size: 18px;
	position: relative;
	margin-bottom: 75%;
	padding-bottom: 90%;
	max-height: 100px;
}

a:hover{
	font-size: 20px;
	color: #CCFFFF;
	position: relative;
	margin-bottom: 75%;
	padding-bottom: 90%;
	max-height: 100px;
}

a:visited{
	font-size: 18px;
	color: #999966;
	position: relative;
	margin-bottom: 75%;
	padding-bottom: 90%;
	max-height: 100px;
}

iframe{
	margin-left: 50%;
	float: right;
}

.contact1{
	float: center;
}

.contact2{
	float: center;
}

button{
	position: static;
	height: 50px;
	width: 100px;
	background-color: #FFF;
	margin-left: 10%;
	margin-right: 65%;
}

#avatar{
	float: right;
	height: 100px;
	width: 100px;
}

input{
	background-color: #FFF;
}

.subHeading{
	font-size: 24px;
}